body {
    background: #0ca3d2;
    overflow-x: hidden;
}

#logout {
    text-decoration: none;
    float: right;
    font-family: Verdana,monospace;
    font-size: 16px;
}
a:link, a:visited{
    color: #ffffff;
}
a:hover{
    color: deepskyblue;
}

#TaskContainer {
    width: 850px;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

#MyTaskList, #OtherTaskList {
    color: gray;
    margin: 0;
}

h1 {
    text-align: center;
    color: #ffffff;
}

h3 {
    text-align: center;
    color: #006699;
}

.ActiveTask, .CompletedTask {
    width: 750px;
    min-height: 50px;
    font-size: 16px;
    margin-bottom: 5px;
    border: solid 2px;
    border-radius: 5px;
}

.ActiveTask {
    border-color: #006699;
    background-color: rgba(12, 206, 255, 0.38);
}

.CompletedTask {
    color: gray;
    background-color: #f0f0f0;
}

.ActiveTaskText, .CompletedTaskText {
    width: 650px;
    display: inline-block;
    margin: 10px 0 10px 5px;
}

.ActiveTaskText {
    color: #006699;
}

.CompletedTaskText {
    color: gray;
    text-decoration: line-through;
}

.TaskDate, .TaskAuthor {
    float: left;
    font-size: 10px;
}

.TaskDate {
    color: gray;
}

.TaskAuthor {
    margin-left: 10px;
    color: #006699;
}

.Selected {
    background-color: white;
}

.UpTask, .CheckTask, .DeleteTask, .NoDeleteTask, .NoCheckTask {
    float: right;
    display: none;
    cursor: pointer;
    margin-top: 5px;
}

.CheckTask, .NoCheckTask {
    margin-top: 11px;
    margin-right: 2px;
}

.UpTask {
    margin-top: 8px;
    margin-right: 6px;
}

.DeleteTask, .NoDeleteTask {
    margin-right: 5px;
}

.TaskMessageForm, .TaskMessageFormActive {
    width: 450px;
    height: 50px;
    margin-left: 40px;
    border-radius: 5px;
    font-family: Verdana, monospace;
    font-size: 16px;
    border: 2px solid #ccc;
    outline: none;
    line-height: 25px;
    background: url(../images/EnterNewTask.png) no-repeat left center;
}

.TaskMessageForm:focus, .TaskMessageFormActive:focus{
    border: 2px solid #0097cf;
}

.TaskMessageFormActive{
    background: none;
}

#TaskEdit {
    position: absolute;
    width: 450px;
    height: 44px;
    background-color: lightyellow;
    border-radius: 5px;
    overflow: hidden;
}

#EditAssigneeContainer{
    position: relative;
    left:470px;
    top: 36px;
}

#SaveButton {
    top: 9px;
    left: 480px;
}

#AddButton {
    top: -27px;
    margin-left: 5px;
}

#DeleteAllCompletedTaskButton {
    display: none;
    float: right;
    top: -15px;
    right: 5px;
}

#ErrorMessage, #SuccessMessage{
    display: none;
    position: absolute;
    max-width: 230px;
    margin-top: -19px;
    padding: 17px 10px 15px 52px;
    border: solid 1px;
    border-radius: 5px;
    font-family: Verdana, monospace;
    font-size: 14px;
}

#SuccessMessage{
    border-color: #006699;
    background: #9FDAEE url(../images/Info.png) no-repeat 2px;
    color: #006699;
}

#ErrorMessage{
    border-color: firebrick;
    background: rgba(255, 0, 0, 0.11) url(../images/Critical.png) no-repeat 2px;
    color: firebrick;
}

input[type=button] {
    position: relative;
    padding: 0 18px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #e3f1f1;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 16px;
    outline: 0;
    box-sizing: content-box;
    background: #cde5ef linear-gradient(to bottom, #edf5f8, #cde5ef);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

input[type=button]:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

input[type=button]:disabled {
    color: #999999;
    background: #f0f0f0;
    border-color: #bdbdbd #d0d0d0 #bdbdbd;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}